<!doctype html>
<html ng-app="FeedStore">
<head>
    <meta charset="utf-8" />
    <title>FeedStore</title>
	<link rel="stylesheet" type="text/css" href="lib/bootstrap.min.css"></link> 
	<style>
		body { padding: 20px; }
	</style>
</head>
<body ng-controller="AppController as vm">
    <h1>FeedStore</h1>
    <h2>You have {{ vm.feeds.length }} feeds</h2>

    <form ng-submit="vm.processForm()">

        <input type="text" ng-model="vm.form.title" size="30" />
        <input type="text" ng-model="vm.form.url" size="30" />
        <input type="submit" value="Add Feed" />

    </form>

    <ul>
        <li ng-repeat="feed in vm.feeds track by feed.id">
            {{ feed.title }} ( <a ng-click="vm.showFeed(feed)">view</a> ) ( <a ng-click="vm.removeFeed(feed)">delete</a> )
            
        </li>
    </ul>

	<div ng-switch on="vm.currentFeed.responseStatus">
		<div ng-switch-when="200">
			<h2>{{ vm.currentFeed.responseData.feed.title }}</h2>
			<div ng-repeat="entry in vm.currentFeed.responseData.feed.entries">
				<a href='#' ng-click="showPost = !showPost">{{entry.title}}</a>
				 {{entry.publishedDate}}
				<hr/>
				<div ng-show="showPost" ng-bind-html="entry.content | to_trusted"><div>
				<hr/>
			</div>
		</div>
	</div>
	
    
	<script type="text/javascript" src="lib/jquery.min.js"></script>
	<script type="text/javascript" src="lib/angular.min.js"></script>
    <script type="text/javascript" src="feedstore.js"></script>
</body>
</html>