body { height: 100%; }

#left { 
    margin-left: 20px; 
    resize: horizontal; overflow: auto;
	float:left;
	width:300px;
    height:100vh;
    border-right: 1px solid black;
}

#right { 
    padding: 10px; 
    height:100vh;
    width: auto;
    overflow: scroll; }

.unread { font-weight: bold; }
.read { font-weight: normal; }

.postFooter { clear: both;}
.addFeed { margin: 20px 0 20px 0; }

.feed-menu { margin: 0; padding: 0; list-style-type: none; }
.feed-menu > li { border-top: 1px dotted #ccc;}
.feed-menu-item { margin-top: 15px; }
.feed-menu-item > span { font-size: 1.1em; }

.post-menu { margin: 0; padding: 0}
.post-menu-item > span { font-size: 0.9em; }
